.container {
    display: grid;
    width: 90%;
    height: 500px;
    margin: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    grid-template-columns: auto auto;
}

img{
    width: 600px;
    height: 500px;
}

.big-text {
    padding: 70px;
}

h1{
    font-size: 70px;
    font-weight: 700;
}

.btn {
    border: none;
    width: 130px;
    height: 40px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    background-color: hsl(180, 66%, 49%);
    margin-top: 20px;
}