<div class="nav-header">
    <div class="logo-svg flex-item">
        <a href="">Shortly</a>
    </div>
    <div class="header-menu flex-item">
        <div class="leftside-options">
            <ul>
                <li class="option"><a href="">Features</a></li>
                <li class="option"><a href="">Picing</a></li>
                <li class="option"><a href="">Resources</a></li>
            </ul>
        </div>
        <div class="rightside-options">
            <ul>
                <li class="item"><a href="">Login</a></li>
                <li class="item"><a href="">Sign Up</a></li>
            </ul>
        </div>
    </div>
</div>